I2CMicrobitToPicDemo.X/.generated_files/
I2CMicrobitToPicDemo.X/build/
I2CMicrobitToPicDemo.X/dist/
I2CMicrobitToPicDemo.X/nbproject/Makefile-*
I2CMicrobitToPicDemo.X/nbproject/Package-*
I2CMicrobitToPicDemo.X/nbproject/private/
I2CMicrobitToPicDemo.pro